<main>
    <div class="row">
        <div class="col l6 offset-l3 m12 s12">
            <div class="card-panel red center-align">
                <span class="white-text">当前测试时期暂不收费，请考生联系管理员<br>请考生将注册的姓名和身份证号发送到邮箱 wangbigdog@163.com<br>审核通过后可以进行职业个性测试和学校专业初选</span>
            </div>
        </div>
    </div>
</main>